@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privātuma Politika";
}
<h1>@ViewData["Title"]</h1>

<p>Jūsu Mustanga grafika lietotājvārds un parole tiks glabāti Kursu Pārlūka datubāzē un tiks lietoti lai piekļūtu grafika datiem.</p>
<p>Jūsu e-pasts tiks lietots lai izsūtītu paziņojumus par grafika izmaiņām un Kursu Pārlūka konta stāvokli.</p>
<p>Šī lapa lieto sīkdatnes lai saglabātu konta stāvokli.</p>
