@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Paroles aizmiršanas apstiprinājums";
}

<h1>@ViewData["Title"]</h1>
<p>
    Lūdzu pārbaudiet jūsu e-pastu un nomainiet paroli.
</p>

