@page
@model LockoutModel
@{
    ViewData["Title"] = "Izslēgts";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Šis konts uz brīdi ir izslēgts, lūdzu mēģiniet vēlāk.</p>
</header>
