@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Paroles nomaiņas apstiprinājums";
}

<h1>@ViewData["Title"]</h1>
<p>
    Jūsu parole ir nomainīta. Please <a asp-page="./Login">klikšķiniet šeit lai ienāktu</a>.
</p>
