@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personīgie Dati";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Jūsu konts satur personīgos datus, kurus jūs mums esat iedevuši. Šī lapa ļauj jums tos lejupielādēt vai izdzēst.</p>
        <p>
            <strong>Datu dzēšana neatgriezeniski izdzēsīs arī jūsu kontu.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Lejupielādēt</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Dzēst</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}